USE [master]
GO
/****** Object:  Database [PPM]    Script Date: 08/10/2022 21:03:49 ******/
CREATE DATABASE [PPM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PPM', FILENAME = N'C:\Users\Dániel Doma\PPM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PPM_log', FILENAME = N'C:\Users\Dániel Doma\PPM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PPM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PPM]
GO
USE [PPM]
GO
/****** Object:  Table [dbo].[BlocGenerators]    Script Date: 08/10/2022 21:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlocGenerators](
	[BlocID] [nvarchar](20) NOT NULL,
	[GeneratorID] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_BlocGenerators] PRIMARY KEY CLUSTERED 
(
	[BlocID] ASC,
	[GeneratorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blocs]    Script Date: 08/10/2022 21:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blocs](
	[BlocID] [nvarchar](20) NOT NULL,
	[BlocType] [nvarchar](20) NULL,
	[MaxBlocCapacity] [int] NULL,
	[ComissionDate] [int] NULL,
 CONSTRAINT [PK_Blocks] PRIMARY KEY CLUSTERED 
(
	[BlocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generators]    Script Date: 08/10/2022 21:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generators](
	[GeneratorID] [nvarchar](20) NOT NULL,
	[MaxCapacity] [smallint] NOT NULL,
 CONSTRAINT [PK_Generator] PRIMARY KEY CLUSTERED 
(
	[GeneratorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PastActivity]    Script Date: 08/10/2022 21:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PastActivity](
	[GeneratorID] [nvarchar](20) NOT NULL,
	[PeriodStart] [smalldatetime] NOT NULL,
	[PeriodEnd] [smalldatetime] NOT NULL,
	[ActualPower] [smallint] NOT NULL,
 CONSTRAINT [PK_PastActivity] PRIMARY KEY CLUSTERED 
(
	[GeneratorID] ASC,
	[PeriodStart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PowerPlants]    Script Date: 08/10/2022 21:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PowerPlants](
	[PowerPlantID] [nvarchar](4) NOT NULL,
	[name] [nvarchar](20) NULL,
	[description] [nvarchar](50) NULL,
	[OperatorCompany] [nvarchar](20) NULL,
	[webpage] [nvarchar](20) NULL,
	[image] [nvarchar](20) NULL,
	[longitude] [float] NULL,
	[latitude] [float] NULL,
 CONSTRAINT [PK_PowerPlants] PRIMARY KEY CLUSTERED 
(
	[PowerPlantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PPBlocs]    Script Date: 08/10/2022 21:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PPBlocs](
	[PowerPlantID] [nvarchar](4) NOT NULL,
	[BlocID] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PPBlocs] PRIMARY KEY CLUSTERED 
(
	[PowerPlantID] ASC,
	[BlocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BlocGenerators]  WITH CHECK ADD  CONSTRAINT [FK_BlocGenerators_Blocks] FOREIGN KEY([BlocID])
REFERENCES [dbo].[Blocs] ([BlocID])
GO
ALTER TABLE [dbo].[BlocGenerators] CHECK CONSTRAINT [FK_BlocGenerators_Blocks]
GO
ALTER TABLE [dbo].[BlocGenerators]  WITH CHECK ADD  CONSTRAINT [FK_BlocGenerators_Generators] FOREIGN KEY([GeneratorID])
REFERENCES [dbo].[Generators] ([GeneratorID])
GO
ALTER TABLE [dbo].[BlocGenerators] CHECK CONSTRAINT [FK_BlocGenerators_Generators]
GO
ALTER TABLE [dbo].[PPBlocs]  WITH CHECK ADD  CONSTRAINT [FK_PPBlocs_Blocks] FOREIGN KEY([BlocID])
REFERENCES [dbo].[Blocs] ([BlocID])
GO
ALTER TABLE [dbo].[PPBlocs] CHECK CONSTRAINT [FK_PPBlocs_Blocks]
GO
ALTER TABLE [dbo].[PPBlocs]  WITH CHECK ADD  CONSTRAINT [FK_PPBlocs_PowerPlants] FOREIGN KEY([PowerPlantID])
REFERENCES [dbo].[PowerPlants] ([PowerPlantID])
GO
ALTER TABLE [dbo].[PPBlocs] CHECK CONSTRAINT [FK_PPBlocs_PowerPlants]
GO
/****** Object:  StoredProcedure [dbo].[GetBasicsOfPowerPlant]    Script Date: 08/10/2022 21:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBasicsOfPowerPlant] @id varchar(4)

AS

SELECT * FROM PowerPlants
WHERE PowerPlantID = @id
GO
/****** Object:  StoredProcedure [dbo].[GetPastActivity]    Script Date: 08/10/2022 21:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPastActivity] @GID nvarchar(20)

AS

SELECT TOP(3) * FROM PastActivity
WHERE GeneratorID = @GID
ORDER BY 2 DESC
GO
/****** Object:  StoredProcedure [dbo].[GetPowerPlantDetails]    Script Date: 08/10/2022 21:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPowerPlantDetails] @PowerPlantID varchar(4)

AS

SELECT B.BlocID, B.BlocType, B.MaxBlocCapacity, B.ComissionDate, G.GeneratorID, G.MaxCapacity
FROM PPBlocs P INNER JOIN Blocs B ON P.BlocID = B.BlocID
			   INNER JOIN BlocGenerators BG ON B.BlocID = BG.BlocID
			   INNER JOIN  Generators G ON BG.GeneratorID = G.GeneratorID
WHERE PowerPlantID = @PowerPlantID
GO
/****** Object:  StoredProcedure [dbo].[PowerPlantBasics]    Script Date: 08/10/2022 21:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PowerPlantBasics]

AS

SELECT * FROM PowerPlants
GO
USE [master]
GO
